@import url(https://fonts.google.com/specimen/Young+Serif);
@import url(https://fonts.google.com/specimen/Outfit);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root{
--White: hsl(0, 0%, 100%);
--Stone-100: hsl(30, 54%, 90%);
--Stone-150: hsl(30, 18%, 87%);
--Stone-600: hsl(30, 10%, 34%);
--Stone-900: hsl(24, 5%, 18%);
--Brown-800: hsl(14, 45%, 36%);
--Rose-800: hsl(332, 51%, 32%);
--Rose-50: hsl(330, 100%, 98%);
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    background-color: var(--Stone-100);
}

/* main*/
.page {
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: start;
    gap: 20px;
    width: 700px;
    height: auto;
    padding: 20px;
    color: var(--Stone-600);
    background-color: var(--White);
    border: 1px solid transparent;
    border-radius: 24px;
}

/* img-title*/
.img-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    color: var(--Stone-600);
    width: 100%;
    height: auto;
}
.img-title h1{
    font-family: 'Young Serif', serif;
    color: var(--Stone-900);
}
.img-title p {
    font-size: 14px;
}
.image-container {
    display: flex;
    width: 100%;
    height: 30vh;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* preparation-time*/
.preparation-time{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;
    background-color: var(--Rose-50);
    color: var(--Stone-600);
    width: 100%;
    height: 20vh;
    border-radius: 8px;
}

.preparation-time h2{
    color: var(--Rose-800);
}
.preparation-time ul{
    display: flex;
     flex-direction: column; 
    justify-content: space-evenly;
    gap: 20px;
}
.preparation-time ul li{
    display: flex;
    
}

.preparation-time h4{
    color: var(--Stone-900);
}

.ingredients, ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}
.ingredients h2 {
    font-family: 'Young Serif', serif;
    color: var(--Brown-800);
}
.ingredients ul {
    padding: 20px;
}

.line {
    background-color: var(--Brown-800);
    border: 1px solid var(--Brown-800);
    opacity: 10%;
}

.instructions, ol{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    gap: 20px;
}
.instructions h2 {
    font-family: 'Young Serif', serif;
    color: var(--Brown-800);
}
.instructions ol {
    padding: 20px;
}
.instructions ol strong {
    color: var(--Stone-900);
}

.nutrition h2 {
    font-family: 'Young Serif', serif;
    color: var(--Brown-800);
}

.nutrition {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    gap: 20px;
}

.nutri {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 20px;
}

.quantity {
    color: var(--Brown-800);
    font-weight: 700;
}